<div class="navigation-bar">
  <mat-toolbar>
    <div class="breadcrumbs">Home <mat-icon class="fa fa-lg fa-angle-right angle-right" aria-hidden="true"></mat-icon> Projects</div>
  </mat-toolbar>
</div>

<style>
.navigation-bar .back-btn{
  width: 36px;
}
.navigation-bar .back-btn:hover{
  cursor: pointer;
  font-size: 26px;
}
.navigation-bar .breadcrumbs{
  font-size: 20px;
  margin-left: 12px;
}
.navigation-bar mat-toolbar{
  color: rgba(93, 93, 93, 0.87);
  background-color: #ffffff;
}
.navigation-bar .angle-right{
  margin: 0 7px 0 7px;
}

</style>
